

# .NET build output
bin/
obj/
out/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.cache
*.sln.docstates
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# JetBrains Rider / IntelliJ IDEA
.idea/
*.sln.iml
**/Rider/**
**/_ReSharper*/**
**/*.rider.DotSettings.user

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# SQL Server files
*.mdf
*.ldf
*.ndf

*.sqlite.db-wal
*.sqlite.db-shm

# Local History
.localhistory/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini