version: "2.1"

networks:
  mynetwork:
    ipam:
      config:
        - subnet: 172.31.0.0/24

services:
  expressvpn:
    image: misioslav/expressvpn:latest
    container_name: expressvpn
    restart: unless-stopped
    ports: # ports from which container that uses expressvpn connection will be available in local      network
      - 8080:8080 # sabnzbd
      - 8081:8081 # qbitTorrent
      - 6881:6881 # qbitTorrent
      - 6881:6881/udp # qbitTorrent

    environment:
      - WHITELIST_DNS=192.168.1.1,1.1.1.1,8.8.8.8 # Comma seperated list of dns servers you wish to use and whitelist via iptables
      - CODE=ED73CGCSDH7WXKZFJU3NGXH
      - SERVER=smart # By default container will connect to smart location, list of available locations you can find below
      #     - BEAERER=ipInfoAccessToken # optional can be taken from ipinfo.io
      #     - HEALTHCHECK=healthchecks.ioId # optional can be taken from healthchecks.io
      - NETWORK=on #optional and set to on by default
      - PROTOCOL=lightway_tcp \ #optional set default to lightway_udp see protocol and cipher section for more information
      - CIPHER=chacha20 \ #optional set default to chacha20 see protocol and cipher section for more information
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    stdin_open: true
    tty: true
    command: /bin/bash
    privileged: true

  ############
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    network_mode: service:expressvpn
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/London
    volumes:
      - /docker/appdata/config/sabnzbd:/config
      - /media/storageDrive/data/usenet:/data/usenet:rw
      - /media/storageDrive_6tb/data/usenet:/data_6tb/usenet:rw
      - /media/storageDrive_8tb/data/usenet:/data_8tb/usenet:rw
    restart: unless-stopped
    depends_on:
      - expressvpn
  ############
  radarr: ## Movies
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/London
    volumes:
      - /docker/appdata/config/radarr:/config
      - /media/storageDrive/data:/data
      - /media/storageDrive_6tb/data:/data_6tb
      - /media/storageDrive_8tb/data:/data_8tb
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      - mynetwork
    depends_on:
      - prowlarr
  sonarr: ## TV
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/London
    volumes:
      - /docker/appdata/config/sonarr:/config
      - /media/storageDrive/data:/data
      - /media/storageDrive_6tb/data:/data_6tb
      - /media/storageDrive_8tb/data:/data_8tb
    ports:
      - 8989:8989
    restart: unless-stopped
    networks:
      - mynetwork
    depends_on:
      - prowlarr
  ############
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /docker/appdata/config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - mynetwork
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - PLEX_CLAIM= #optional
    volumes:
      - /docker/appdata/config/plex:/config
      - /media/storageDrive/data/media/:/media
      - /media/storageDrive_6tb/data/media:/media_6tb
      - /media/storageDrive_8tb/data/media:/media_8tb
    restart: unless-stopped
    #########
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /docker/appdata/config/overseerr:/config
    ports:
      - 5055:5055
    restart: unless-stopped
    depends_on:
      - radarr
      - sonarr
  ############
  bazarr: #subtitles
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /docker/appdata/config/bazarr:/config
      - /media/storageDrive/data:/data
      - /media/storageDrive_6tb/data/:/data_6tb
      - /media/storageDrive_8tb/data/:/data_8tb
    ports:
      - 6767:6767
    restart: unless-stopped
  torrent:
    # Remember to set ethernet adapter in web ui to wg0
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: torrent
    network_mode: service:expressvpn
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Atlantic/Reykjavik
      - WEBUI_PORT=8081
    volumes:
      - /docker/appdata/config/qbittorrent:/config
      - /media/storageDrive/data:/data
    restart: unless-stopped
    depends_on:
      - expressvpn
  tunnel:
    container_name: cloudflared-tunnel
    image: cloudflare/cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=eyJhIjoiNGEyMDEzNzY4ZjVhYjg3OTQyOWM5ZjQ3MTg1NTU1Y2UiLCJ0IjoiNDgxZjc5NzMtNmViMC00MGQ0LWExZDUtNjMyZjU1YzBkYmUyIiwicyI6IlkySXpZV1l6Tm1ZdE5ERmpaaTAwTUdZd0xUZ3lNVFV0TlRBME1qRTNZVEJpTjJJeSJ9
  plex-meta-manager:
    image: meisnate12/plex-meta-manager
    container_name: plex-meta-manager
    environment:
      - TZ=Atlantic/Reykjavik
    volumes:
      - /path/to/config:/config
    restart: unless-stopped
